# Processing and filtering exercises

Go to ~/Data/opentraveldata. Note tha file has 8 columns.

In [33]:
% cd ~/Data/opentraveldata
! head -n 1 optd_aircraft.csv

/home/dsc/Data/opentraveldata
iata_code^manufacturer^model^iata_group^iata_category^icao_code^nb_engines^aircraft_type

*. Change the delimiter of optd_aircraft.csv to “,”

In [34]:
! cut -f 1-8 -d "^" --output-delimiter "," optd_aircraft.csv | head -n 10

iata_code,manufacturer,model,iata_group,iata_category,icao_code,nb_engines,aircraft_type
100,Fokker,100,100,2J,F100,2,J
141,BAe,146-100,146,4J,B461,4,J
142,BAe,BAE Systems 146-200 Passenger,146,4J,B462,4,J
143,BAe,146-300,146,4J,B463,4,J
146,BAe,146,,,,,
14F,BAe,146 Freighter (-100/200/300QT & QC),,,,,
14X,BAe,146 Freighter (-100QT & QC),14F,4J,B461,4,J
14Y,BAe,146 Freighter (-200QT & QC),14F,4J,B462,4,J
14Z,BAe,146 Freighter (-300QT & QC),14F,4J,B463,4,J
cut: write error: Broken pipe

*. Check if optd_por_public.csv has repeated white spaces (hint: use trwith wc). It last too much. I checked in 100 first lines

In [35]:
! echo "Number of characters in original file:"
! head -n 1000 optd_por_public.csv | wc -m 

! echo "Number of characters in original file squeezing repeated white spaces:"
! head -n 1000 optd_por_public.csv | tr -s ' ' | wc -m

Number of characters in original file:
436279
Number of characters in original file squeezing repeated white spaces:
436279

* How many columns has optd_por_public.csv? (hint: use head and tr)

In [39]:
! head -n 1 optd_por_public.csv
! echo "\nIs has "
! head -n 1 optd_por_public.csv | tr -cd "^" | wc -m
! echo "+ 1 colums"

iata_code^icao_code^faa_code^is_geonames^geoname_id^envelope_id^name^asciiname^latitude^longitude^fclass^fcode^page_rank^date_from^date_until^comment^country_code^cc2^country_name^continent_name^adm1_code^adm1_name_utf^adm1_name_ascii^adm2_code^adm2_name_utf^adm2_name_ascii^adm3_code^adm4_code^population^elevation^gtopo30^timezone^gmt_offset^dst_offset^raw_offset^moddate^city_code_list^city_name_list^city_detail_list^tvl_por_list^state_code^location_type^wiki_link^alt_name_section^wac^wac_name

Is has
45
+ 1 colums

* Print column names of optd_por_public.csv  together with their column number. (hint: use paste)

The solution is (parse does not work in notebook...)

```shell
paste <(seq 46) <(head -n 1 optd_por_public.csv | tr "^" "\n")
```

* Use optd_airlines.csv to obtain the airline with the most flights?. Hunt: name column is 8th and number of flights 14th

In [37]:
 ! tail -n +2 optd_airlines.csv | cut -d "^" -f 8,14 | sort -t "^" -k 2r | head -n 1 | cut -d "^" -f 1

Jetstar

* Use optd_airlines.csv to obtain number of airlines in each alliance?. Hint: the alliance is in the 10th colum

In [38]:
! cut -d "^" -f 10 optd_airlines.csv | sort | uniq -c

   1158
      1 alliance_code
     37 OneWorld
     25 Skyteam
     33 Star Alliance

<div style="text-align:right">
Juan Luis García López (@huanlui)
<a href="https://github.com/huanlui" class="fa fa-github"> Github </a>
<a href="https://twitter.com/huanlui" class="fa fa-twitter"> Twitter </a>
<a href="https://www.linkedin.com/in/juan-luis-garcía-lópez-99057138" class="fa fa-linkedin"> Linkedin </a>
<div>