# Grep command

Print lines matching a pattern  (THE per-line filter!!!)
SINTAX: grep “STRING" [file_pattern]

In [39]:
% cd ~/Data/shell

! cat -n Text_example.txt

/home/dsc/Data/shell

* Print lines containing "the"

In [40]:
! grep the Text_example.txt

* -v : Invert the sense of matching, to select non-matching lines. Let's print lines without "the"

In [41]:
! grep -v the Text_example.txt

* -i: case insensitive

In [42]:
! grep -i tHe Text_example.txt

* -n : Prefix each line of output with the 1-based line number within its input file.

In [43]:
! grep -n the Text_example.txt

* -c : print  count of matching lines for each input file.  With the -v option it counts non-matching lines.

In [44]:
! grep -c the Text_example.txt

2

* They can be combined. Count lines NOT containing "the" case insensitive

In [45]:
! grep -cvi "tHe" Text_example.txt

3

* -w :  Select  only  those  lines  containing matches that form whole words.

In [46]:
! echo "an\nananas" | grep an 

! echo " Whole words: "
! echo "an\nananas" | grep -w an

an
ananas
 Whole words:
an

* [A/B/C] +N = Displaying lines after/before/around the match

In [47]:
! grep -C 1 Two Text_example.txt

In [48]:
! grep -n -B 1 -A 2 lower Text_example.txt

* -H : Print the file name for each match. Useful to grep with several files

In [49]:
! rm -f lower_file.txt
! echo "lower\nupper\nlower again" > lower_file.txt
! grep -Hn lower Text_example.txt lower_file.txt

lower_file.txt:1:lower
lower_file.txt:3:lower again

* -E : enable regular expression (WORKS with regular expressions!!!)

In [50]:
! rm -f mares.txt
! echo "Maria\nMario\nPaco\nMarisa\nMarimar" > mares.txt

* Words starting with "mar", case insensitive

In [51]:
! grep -Ei "^mar" mares.txt

Maria
Mario
Marisa
Marimar

* Words ending with "mar", case insensitive

In [52]:
! grep -Ei "mar$" mares.txt

Marimar

* Find something startning with a number from 1 to 5 and then a '2'

In [60]:
! seq 5 5 300 | grep -E "[1-5]{2}"

120
125
220
225

* -o : show just the pattern matched

In [55]:
! grep -EionH "^th" Text_example.txt

Text_example.txt:1:TH
Text_example.txt:2:th
Text_example.txt:3:Th

* -b : show the byte  offset in the whole file of the starting point of output

In [56]:
! grep -b line Text_example.txt

## Exercises

Go to ~/Data/opentraveldata

In [64]:
% cd ~/Data/opentraveldata
! head -n 1 optd_aircraft.csv

/home/dsc/Data/opentraveldata
iata_code^manufacturer^model^iata_group^iata_category^icao_code^nb_engines^aircraft_type

* Use grep to extract all 7x7 (where x can be any number) airplane models from optd_aircraft.csv. Hint: model is in column 3

In [69]:
! cut -d "^" -f 3 optd_aircraft.csv | grep -E "7[0-9]7"

707-300
707/720
707 Freighter
707 Combi
717
727-100
727-200
727
727-200 Advanced
727-100 Mixed
727-200 Mixed
727 Freighter (-100/200)
727 Combi
727-200 Adv.
727-200 (winglets)
727-100 Freighter
727-200 Freighter
737-100
737-200
737-300
737-400
737-500
737-600
737
737-800
737-900
737-200 Advanced
737-300 (winglets)
737-500 (winglets)
737 Freighter
737-700
737-800 (winglets)
737-900 (winglets)
737-200 Mixed Configuration
737-200 Combi
737-300 Mixed Configuration
737-400 Freighter
737-400 Mixed Configuration
737-700 Mixed Configuration
737-200 Advanced
737-700 (winglets)
737-200 Freighter
737-300 Freighter
737-400 Freighter
747-100
747-200
747-300
747-400
747
747-400 Swingtail Freighter
747-200 Combi
747-300 Combi
747-400 Combi
747 Freighter
747-8i
747-400 (Domestic)
747SP
747 Combi
747-8F
747SR
747-100 Freighter
747-300 / 747-200 SUD Freighter
747SR Freighter
747-200 Freighter
747-400 Freighter
757-200
757-300
757
757 Freighter
757 Mixed
757-300 (winglets)
757-200 (winglets)
767-200
767-300
767-400
767
767 Freighter
767-300 (winglets) Freighter
767-300 (winglets)
767-200 Freighter
767-300 Freighter
777-200
777-300
777
777 Freighter
777-200LR
777-300ER
777-200F Freighter
787-3
787
787-8
787-9

* Use grep to extract all 3xx (where x can be any number) airplane models from optd_aircraft.csv.

In [72]:
! cut -d "^" -f 3 optd_aircraft.csv | grep -E "3[0-9][0-9]"

146-300
146 Freighter (-100/200/300QT & QC)
146 Freighter (-300QT & QC)
A319
A310
A310-200
A310-300
A318
A319
A310F
A319 (Sharklets)
A310-200F
A310-300F
A320-100/200
A321-100/200
A320 (sharklets)
A321 (sharklets)
A318 (sharklets)
A319 (sharklets)
A320 Freighter
A321 Freighter
A330
A330-200
A330-300
A330 Freighter
A330-200 Freighter
A340
A340-200
A340-300
A340-500
A340-600
A350
A350-1000
A350-800
A350-900
A380
A380
A380F
707-300
737-300
737-300 (winglets)
737-300 Mixed Configuration
737-300 Freighter
747-300
747-300 Combi
747-300 / 747-200 SUD Freighter
757-300
757-300 (winglets)
767-300
767-300 (winglets) Freighter
767-300 (winglets)
767-300 Freighter
777-300
777-300ER
A300B2
A300
A300B2/B4/C4
A300-600
A300-600ST Beluga
A300F
A300-600 Mixed Configuration
A300C4/F4 Freighter
A300-600F
SA330 Puma / AS332 Super Puma
ATR 42-300 / 320
One Eleven 300
Challenger 300
CS300
Do 328
DHC-8-300 Dash 8 / 8Q
EMB-505 Phenom 300
F28 Fellowship 3000
328JET
328JET
H-250 Courier / H-295 / 385 Super Courie
IL-96-300
IL-96-300 Freighter
L-182 / 282 / 382 (L-100) Hercules
AS350 Ecureuil / AS355 Ecureuil 2
SA365C / SA365N Dauphin 2
Hawker 390 Premier 1/1A
SF340A/B
SF340B
SF340 Freighter
SD.330
SD.360
Tu-334

* Use grep to obtain the number of airlines with prefix “aero” (case insensitive) in their name from optd_airlines.csv . Hint: Name is in column 8

In [80]:
! head -n 1 optd_airlines.csv
! echo " "

! cut -d "^" -f 8 optd_airlines.csv | grep -Ei "^aero" | wc -l

pk^env_id^validity_from^validity_to^3char_code^2char_code^num_code^name^name2^alliance_code^alliance_status^type^wiki_link^flt_freq

30

* How many optd_por_public.csv columns have “name” as part of their name? What are their numerical positions? (hint: use seqand paste).

In [94]:
! head optd_por_public.csv -n 1 |  tr "^" "\n" | grep -nE "name"

4:is_geonames
5:geoname_id
7:name
8:asciiname
19:country_name
20:continent_name
22:adm1_name_utf
23:adm1_name_ascii
25:adm2_name_utf
26:adm2_name_ascii
38:city_name_list
44:alt_name_section
46:wac_name

* Find all files with txt extension inside home directory (including all sub directories) that have word“Science” (case insensitive) inside the content. Print file path and the line containing the (S/s)cienceword.

In [98]:
! find ~ -name "*.txt" -exec grep -iwHn "Science" {} \;

/home/dsc/Data/shell/Finn.txt:5499:Science of Phrenology” at such and such a place, on the blank day of
/home/dsc/.config/google-chrome/Subresource Filter/Unindexed Rules/9.1/LICENSE.txt:109:       architecture or science; a performance; a broadcast; a phonogram; a
/home/dsc/anaconda3/pkgs/scipy-1.0.0-py36hbf646e7_0/lib/python3.6/site-packages/scipy/THANKS.txt:1:SciPy is an open source library of routines for science and engineering
/home/dsc/anaconda3/pkgs/scipy-1.0.0-py36hbf646e7_0/lib/python3.6/site-packages/scipy/spatial/qhull/COPYING.txt:8:       The National Science and Technology Research Center for
/home/dsc/anaconda3/lib/python3.6/site-packages/scipy/THANKS.txt:1:SciPy is an open source library of routines for science and engineering
/home/dsc/anaconda3/lib/python3.6/site-packages/scipy/spatial/qhull/COPYING.txt:8:       The National Science and Technology Research Center for

<div style="text-align:right">
Juan Luis García López (@huanlui)
<a href="https://github.com/huanlui" class="fa fa-github"> Github </a>
<a href="https://twitter.com/huanlui" class="fa fa-twitter"> Twitter </a>
<a href="https://www.linkedin.com/in/juan-luis-garcía-lópez-99057138" class="fa fa-linkedin"> Linkedin </a>
<div>
   
<div>