#  Sed command

Stream editor for filtering and transforming text. It has soooo many options...

## s: Substitute command.

* after substitute command we define a delimiter. “/” by convention but can be changed!!!  
* _day_ Regular Expression Pattern Search Pattern
* _night_: Replacement string

In [126]:
! echo Sunday | sed 's/day/night/'

Sunnight

In [127]:
! echo Sunday | sed 's*day*night*'

Sunnight

In [128]:
! echo 1S2und4y3 | sed 's/[1-3]//'

S2und4y3

* Note that it only replaced first ocurrence by LINE. 

Let's see another example (with several lines) where only first ocurrence BY LINE is substituted

In [129]:
! echo "casa casa \ncasa casa" | sed 's/casa/camión/'

camión casa
camión casa

* Now let's substitute it globally

In [130]:
! echo "casa casa \ncasa casa" | sed 's/casa/camión/g'

camión camión
camión camión

* -I is for case insensitive

In [131]:
! echo "casa CasA CASA" | sed 's/casa/camión/gI'

camión camión camión

* -i to edit file "in place". That is, the original file is modified. Be careful!

In [132]:
!rm -f casa.txt
! echo "casa" > casa.txt

! sed -i 's/casa/camión/' casa.txt

! cat casa.txt

!rm -f casa.txt

camión

##  p: Print command (by index)

* With Np option, Nth line is printed. The rest of the lines (including the Nth one) are printed normally

In [133]:
! echo "first\nsecond\nthird\nfourth\nfifth" | sed '3p'

first
second
third
third
fourth
fifth

* With -n, the rest of the lines (including the Nth one) are not printed. Summarizingm, this command would print line 2

In [134]:
! echo "first\nsecond\nthird\nfourth\nfifth" | sed -n '2p'

second

* !n reverses the restriction

In [135]:
! echo "first\nsecond\nthird\nfourth\nfifth"  | sed -n '2!p'

first
third
fourth
fifth

* Several lines can be commanded. Note tha 2,4 is FROM 2 TO 4 INCLUDING 3

In [136]:
! echo "first\nsecond\nthird\nfourth\nfifth" | sed -n '2,4p'

second
third
fourth

In [137]:
! echo "first\nsecond\nthird\nfourth\nfifth"  | sed -n '2,4!p'

first
fifth

* To print individual lines with _;_

In [138]:
! echo "first\nsecond\nthird\nfourth\nfifth"  | sed -n '2p;4p'

second
fourth

## d: Delete command (by index)

To delete a line

* Delete lines 2 and 4

In [139]:
! echo "first\nsecond\nthird\nfourth\nfifth"  | sed '2d;4d'

first
third
fifth

* If

In [140]:
! echo "first\nsecond\nthird\nfourth\nfifth\n6\n7\n8\n9\nFile number ten"  | sed '10d'

first
second
third
fourth
fifth
6
7
8
9

## Delete and print by content

In [141]:
! echo "first\nsecond\nthird\nfourth\nfifth\n6\n7\n8\n9\nFile number ten"  | sed '/ten/d'

first
second
third
fourth
fifth
6
7
8
9

In [142]:
! echo "first\nsecond\nthird\nfourth\nfifth\n6\n7\n8\n9\nFile number ten"  | sed -n '/ten/p'

File number ten

## Exercises

Use Text_example.txt

In [143]:
% cd ~/Data/shell

/home/dsc/Data/shell

* Replace every “line” with new line character (“\n”)

In [144]:
! sed 's/line/\n/g' Text_example.txt

this
 is the 1st lower case




Two

And this is the last

* Delete lines that contain the “line” word.

In [145]:
! sed '/line/d' Text_example.txt

* Print ONLY the lines that DON’T contain the “line” word

In [146]:
! sed -n '/line/!p' Text_example.txt

<div style="text-align:right">
Juan Luis García López (@huanlui)
<a href="https://github.com/huanlui" class="fa fa-github"> Github </a>
<a href="https://twitter.com/huanlui" class="fa fa-twitter"> Twitter </a>
<a href="https://www.linkedin.com/in/juan-luis-garcía-lópez-99057138" class="fa fa-linkedin"> Linkedin </a>
<div>
   
<div>